@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.page-wrapper {
    flex-grow: 1;
    padding: 10px;
}

.content-page {
    display: flex;
    min-height: 100vh;
}
