.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}
