:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #333333;

  --primary-color: #003ef7;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
