:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #d61200;
    --primary-color: #ff2000;
    --secondary-color: #e8e8ea;
    --inverted-primary-color: #ff2000;
    --inverted-secondary-color: #ff2000;
}
