.navbar {
	height: var(--navbar-height);
	width: 100%;
	background-color: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
}

.links {
	margin-left: auto;
}

.mainLink {
	margin-right: 15px;
}

.appName {
	width: var(--sidebar-width);
	margin-left: 15px;
}
